<div class="content-wrap">
  <img [src]="charcter.image" [alt]="charcter.name +'image'">
  <div class="infoSquare">
    <h1>{{charcter.name}} description</h1>
    <div class="info-row">
      <div class="info-title">
        <div class="title">Id</div>
        <div class="info">{{charcter.id}}</div>
      </div>

      <div class="info-title">
        <div class="title">Name</div>
        <div class="info">{{charcter.name}}</div>
      </div>
    </div>
    <div class="info-row">
      <div class="info-title">
        <div class="title">Origin</div>
        <div class="info">{{charcter.origin.name}}</div>
      </div>

      <div class="info-title">
        <div class="title">Location</div>
        <div class="info">{{charcter.location.name}}</div>
      </div>
    </div>



  </div>
</div>
